*{
  scroll-behavior: smooth;
}

.app{
  min-height: 100vh;
  background-color: #222629;
  color: rgb(255, 251, 251);
  padding-top: 70px;
  padding-bottom: 90px;
}
@media(max-width:700px){
  .app{
    padding-top: 50px;
  }
}

.pageTitle{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
 
}
 @media (max-width:1000px){
   .pageTitle{
     font-size: 4vw;
   }
 }